name: CodSpeed

on:
  push:
    branches:
      - master
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # for OIDC authentication with CodSpeed

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v5
        with:
          path: ~/.local
          key: poetry-ubuntu-3.12-0

      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1

      - name: Upgrade Build Deps
        run: poetry run pip install -U setuptools wheel

      - name: Clear cached dependencies
        run: poetry env remove --all || true

      - name: Install eth-retry with benchmarking dependencies
        run: poetry install --no-interaction

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          run: poetry run pytest benches/ --codspeed
