name: PyTest

on:
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, dev ]
    paths:
      - '**.py'
      - '**.so'
      - 'pyproject.yaml'
      - 'poetry.lock'
      - '!**/docs/conf.py'
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v5
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache
          
      - name: Install Poetry (Python3.8)
        if: steps.cached-poetry.outputs.cache-hit != 'true' &&  matrix.pyversion == '3.8'
        uses: snok/install-poetry@v1
        with:
          version: "1.8.5" 
          
      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true' && matrix.pyversion != '3.8'
        uses: snok/install-poetry@v1
      
      - name: Upgrade Build Deps
        run: poetry run pip install -U setuptools wheel

      - name: Install eth-retry
        run: poetry install --no-interaction
      
      - name: Setup brownie networks
        run: poetry run brownie networks modify mainnet host=${{ secrets.WEB3_PROVIDER }}
        continue-on-error: true
      
      - name: Run test suite
        env:
          PYTEST_NETWORK: mainnet
        run: poetry run pytest
      